<!DOCTYPE HTML>
<html>
<head>
  <title>당신의 여행을 공유해보세요, ShareYourTrip</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- [if lt IE 9] -->
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="/css/cover.css">
  <!-- Nav CSS -->
  <link rel="stylesheet" href="/css/nav.css">
  <!-- Favicon -->
  <link rel="shotcut icon" href="https://shareyourtrip-static-resource.s3.ap-northeast-2.amazonaws.com/images/favicon/favicon.ico" type="image/x-icon">
  <link rel="icon" href="https://shareyourtrip-static-resource.s3.ap-northeast-2.amazonaws.com/images/favicon/favicon.ico" type="image/x-icon">

</head>
<body>
<div class="navbar-wrapper">
  <div class="container">

    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Share your trip</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="/posts/save">New Post</a></li>
            <li><a href="/posts/list">Posts List</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                {{#user}}
                  <div class="profile-image">
                    <img src="{{picture}}" alt="User Profile Picture" class="img-circle">
                  </div>
                  <li><a>Logged in as : <spran id="user">{{name}}</spran></a></li>
                  <li><a href="#userProfile">Profile</a></li>
                  <!-- Spring Security는 기본적으로 /logout URL을 지원한다 -->
                  <li><a href="/logout">Logout</a></li>
                {{/user}}
                {{^user}}
                  <!-- logout과 마찬가지로 login URL 또한 제공 -->
                  <!-- Google Login -->
                  <li><a href="/oauth2/authorization/google">Google Login</a></li>

                  <!-- Naver Login -->
                  <li><a href="/oauth2/authorization/naver">Naver Login</a></li>
                {{/user}}
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>