
/*드롭다운 메뉴*/
.dropdown-menu {
  padding: 20px 0
}

  .dropdown-menu .profile-image {
    width: 100%;
    text-align: center
  }

    .dropdown-menu .profile-image img {
      width: 50%;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .dropdown-menu li a img {
      width: 30px;
    }