<!DOCTYPE HTML>
<html>
<head>
  <title>당신의 여행을 공유해보세요, ShareYourTrip</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <h1>WELCOME, OUR PAGE</h1>
</body>
</html>